# Created by .ignore support plugin (hsz.mobi)

#folders
node_modules/
/data/db/

#files
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
